:root{
    --baseCouleur: fuchsia;
    --fontCouleur: white;
    --fontDiv:rgba(255, 0, 255, 0.082);
}
.section1{
    border-top: solid var(--baseCouleur) 1px ;
    
    
}
.section2{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 10px;
  
    
}
.section2 .boite1{
    width: 220px;
    margin: 20px;
    border-radius: 5px;
    background-color: var(--fontDiv);
    text-align: center;
    padding: 20px;
}
.sec1{
    background-color:var(--fontCouleur);
    width: 100%;
    display: block;
}
h4{
    color: var(--baseCouleur);
    text-align: center;
}
h1{
    text-align: center;
}
