@import url('https://fonts.googleapis.com/css2?family=Kdam+Thmor+Pro&family=Roboto&display=swap');
:root{
    --baseCouleur: rgba(0, 204, 255, 0.959);
    --fontCouleur: white;
    --fontDiv:rgba(68, 184, 199, 0.2);
    --fontText: black;

}
body{
    padding: 0;
    margin: 0;
    font-family: 'Kdam Thmor Pro', sans-serif;
    width: 100%;
    color: var(--fontText);
   /* filter: invert(1) hue-rotate(180deg); */
  
    
}
header{
    background-color: var(--fontCouleur);
    color: var(--fontText);
    height: 100vh;
    text-align: center;
    margin-top: -16px;
}
header nav .log{
    display: flex;
    align-items: center;
}
header nav .logo{
    margin-left: 10px;
}

header nav{
    display: flex;
    flex-wrap: wrap;
    background-color: var(--fontDiv);
    backdrop-filter: blur(30px);
    justify-content: space-between;
    border-bottom: groove var(--baseCouleur) 5px;
    padding: 0.5rem;
    margin-right: 2px;
    margin-left: 2px;
    border-radius: 10px;
    
    
}
header nav a{
color: var(--fontText);
text-decoration: none;
margin-left: 14vw;
padding-right: 10px;
transition: all 0.4s ease-out;


}

.menu{
    display: none;
    align-items: center;
}
header img{
    height: 120px;
    width: 120px;
    border-radius: 50%;
    margin-top: 20px;

}

header .principale p{
    display: block;
    padding-top: 125px;
}
header .principale .photo{
    color: var(--baseCouleur);
    font-weight: bolder;
}
.fixed{
        position: fixed;
        left: 0;
        right: 0;
        top: 0;
    }

nav a:hover{
    background-color: var(--fontCouleur);
    border: solid black 1px;
    border-radius: 20px;
    color: rgb(7, 7, 7);
    padding: 5px;
}
@media screen and (max-width:750px) {
    nav{
        margin-top: 0.5px;
        left: 0;
        right: 0;
    }
    .menu{
        display: block;
        cursor: pointer;
    }
    header nav .onglet{
        display: block;
    } 
   

    header nav .onglet {
        position: fixed;
        background-color: var(--baseCouleur);
        margin-left: -104%;
        height: 100vh;
        width: 100vw;
        top: 0;
        left: 0;
        align-items: center;
        justify-content: center;
        transition: all 0.5s ease;
        
    }
    .onglet.slide{
        margin-left: -1px;
    }
    header nav img{
        position: absolute;
        right:20px;
        display: none;
        height: 30px;
        width: 30px;
        margin-top: -5px;
    }
        
    .menus{
        position: fixed;
    }
    header nav .onglet a{
        display: block;
        justify-content: center;
        align-items: center;
        margin: auto;
        width: 300px;
        margin-top: 20px;
    }
    header nav img{
        position: absolute;
        display: block;
    }
    header nav .onglet .a1{
        margin-top: 25vh;
    }
   


}
