:root{
    --baseCouleur: fuchsia;
    --fontCouleur: white;
    --fontDiv:rgba(255, 0, 255, 0.082);
}
footer{
    border-top: solid var(--baseCouleur) 1px;
    background-color: var(--fontDiv);
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
    justify-content: space-between;
    align-items: baseline;
    padding-right: 200px;
    margin-top: 20px;

}

footer ul{
    justify-content: space-between;
    list-style: none;
    margin-left: -40px;

    
}
