:root{
    --baseCouleur: rgba(0, 204, 255, 0.959);
    --fontCouleur: white;
    --fontDiv:rgba(68, 184, 199, 0.2);
    --fontText: black;

}
.foot{
    background-color: var(--fontDiv);
}
footer{
    border-top: solid var(--baseCouleur) 1px;
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
    justify-content: space-between;
    align-items: baseline;
    padding-right: 200px;
    background-color: var(--fontCouleur);

}
footer ul{
    justify-content: space-between;
    list-style: none;
    margin-left: -40px;

    
}
