.check{
    background-color: rgb(247, 245, 245);
    width: 30px;
    height: 15px;
    border-radius: 7px;
    border: solid gray 1px;
}

.ongle{
    position: relative;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: gray;
    transition: all 0.3s ease-out;
}
.cyble{
   opacity: 0;
   cursor: pointer;
   width: 25px;
   margin-left: 0px;
}

.defile{
    transform: translateX(15px);
    background-color: white;
}
.bgc{
    background-color: blue;
}